<!DOCTYPE html>
<html ng-app="pharmatalkapp">

		<head>
			<meta charset='UTF-8'>

		  <title>pharmatalk</title>
		  <%= stylesheet_link_tag    'application', media: 'all' %>
		  <%= javascript_include_tag 'application'%>

		  <!-- to allow for a mobile-optimized site by setting a minimum viewport width of 500 pixels -->
		  <meta name="viewport" content="width=500, initial-scale=1">
		  <%= csrf_meta_tags %>
		  <%= favicon_link_tag 'pills_stacked.jpg' %>
		  
		  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		  <link rel="icon" href="/favicon.ico" type="image/x-icon">
		</head>
		

		<%#= render 'shared/header' %>

		<!-- if not logged in, display the login and signup buttons and show modal forms upon click -->
		<% if !logged_in? %>
  		<%= render 'shared/modal' %>
  		<%= render 'shared/signupmodal' %>
		<% end %>

		<!--  activate hamburger menu upon click -->
		<div id="view-container" class="container-fluid" ng-click="main.pushmenu = false">
	
		<% flash.each do |message_type, message| %>
	  	<div class="text-center alert alert-<%= message_type %> error-message"><%= message %></div>
		<% end %>



		<%= yield %>

		</body>
</html>
