<!DOCTYPE html>
<html ng-app="pharmatalkapp">

		<head>
			<meta charset='UTF-8'>




		  <title>pharmatalk</title>
		  <%= stylesheet_link_tag    'application', media: 'all' %>
		  <%= javascript_include_tag 'application'%>

		  <!-- to allow for a mobile-optimized site by setting a minimum viewport width of 500 pixels -->
		  <meta name="viewport" content="width=500, initial-scale=1">
		  <%= csrf_meta_tags %>
		  <%= favicon_link_tag 'favicon.ico' %>
		  
		  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		  <link rel="icon" href="/favicon.ico" type="image/x-icon">
		</head>
		<body>

		<%= render 'shared/header' %>

		<%= yield %>

		</body>
</html>
